:root {
    --white: #FFF;
    --primary-color: #FF7101;
    --blue-link-color: #007be5;
    --grey-modal-li:#24272cb3;
    --light-grey-font:#24272cb3;
    --red-hover:#d02f2f;
    --fill-button:#d02f2f;
    --grey-hover-font:#24272c;
    --grey-icon-bg:#e9e9e9;
    --lightgreen-icon:#6bad23;
    --red-icon:#ff1e3c;
    --lightblue-bg:#dff1e74d;
    --lightpink-bg:#ff1e3c08;
  }
  