

/* footer */
.footer{
    display: none;
}
.mobileFooter{
    display: block;
    padding: 16px 20px 16px;
}
.mobileFooter .footerLogo img{
    width: fit-content;
    margin: 0 0 25px 0;
}
.mobileFooter .contactDetails{
    margin: 0 0 25px 0;
}
.mobileFooter .copyRight,
.mobileFooter .appSection,
.mobileFooter .footerNav{
    border-top: 1px solid rgba(36, 39, 44, .1);
    padding: 15px 5px;
}
.mobileFooter .socialIcons {
    margin: 0 0 10px;
}
.mobileFooter .socialIcons .icon{
    font-size: 17px;
}
.mobileFooter .appSection{
    padding: 25px 0px 17px;
}
.mobileFooter .appSection > ul .downloadApp{
    font-size: 12px;
    color: var(--gray-color);
}
.mobileFooter .appSection > ul .starRating{
    font-size: 10px;
}
.mobileFooter .footerNav .mainNav{
    line-height: 42px;
    font-weight: 500;
    color: var(--gray-color);
    
}

.mobileFooter .footerNav .mainNav:after {
    border: 1px solid #24272c;
    border-width: 0 0 2px 2px;
    content: "";
    display: block;
    font-size: 0;
    height: 9px;
    line-height: 0;
    pointer-events: none;
    position: absolute;
    right: 3px;
    top: 14px;
    transform: rotate(-45deg);
    width: 9px;
}
.mobileFooter .footerNav .subMenu{
    display: none;
}
.mobileFooter .footerNav .subMenu li{
    line-height: 28px;
}
.mobileFooter .footerNav .subMenu.show{
    display: block;
}

.mobileFooter .footerNav .appHolder li{
    width: 48%;
}
.mobileFooter .footerNav .appHolder li img{
    height: 50px;
}
.mobileFooter .footerNav .appHolder li img.cardekhoLogo{
    height: 33px;
    top: -5px;
}

.mobileFooter .storeCtr li:nth-child(2){
    margin: 15px 15px 0;
}

.mobileFooter .copyRight{
    font-size: 12px;
    color: rgba(36, 39, 44, .5);
}

@media (min-width: 768px){
    /* footer */
    .mobileFooter{display: none;}
    .footer{
        display: block;
    }
    .footer .footerBottom,
    .footer .footerNav,
    .footer{
        border-top: solid 1px rgba(0, 0, 0, .12);
    }
    .footer .footerTraffic{
        padding: 39px 10px;
    }
    .footer .Ventures{
        margin-top: -4px;
        margin-left: -2px;
    }

    .footer .footerTraffic .icon{
        font-size: 44px;
        color: var(--gray-color);
    }
    .footer .taffic_col{
        padding-left: 11px;
    }

    .footer .taffic_col .title{
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: var(--gray-color);
    }

    .footer .footerNav{
        padding: 46px 0 10px;
        font-size: 12px;
    }

    .footer .footerNav .title{
        font-weight: 500;
        color: var(--gray-color);
        padding: 7px 0 9px;
    }

    .footer .footerNav li{
        line-height: 2.3;
    }
    .footer .footerNav .Ventures li{
        padding-right: 30px;
    }
    .footer .footerNav .Ventures li:nth-child(2n){
        padding-right: 0;
        padding-left: 10px;
    }
    .footer .footerNav .appHolder img{
        width: 130px;
        height: 42px;
    }
    .footer .footerNav .Ventures img{
        height: 50px;
    }
    .footer .footerNav .Ventures img.rupyy{
        left: -23px;
    }

    .footer .footerNav .Ventures img.revv{
        left: -15px;
    }

    .footer .footerBottom{
        padding-top: 13px;
        height: 67px;
    }
    .footer .footerBottom .copyRight{
        font-size: 12px;
        color: rgba(36, 39, 44, .5);
        margin-top: -8px;
    }
    .footer .footerBottom .title{
        font-size: 15px;
        font-weight: 600;
        color: var(--gray-color);
        margin-right: 16px;
    }
    .footer .footerBottom .socialIcons{
        margin-top: -4px;
    }
    .footer .footerBottom .socialIcons li{
        padding-right: 30px;
    }
    .footer .footerBottom .socialIcons li span{
        font-size: 16px;
    }

}