*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', Sans-Serif, Arial;
    color: var(--light-gray);
    background-color: var(--white);
}
html{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, .h2Title {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 700;
    
}

a{
    cursor: pointer;
    text-decoration: none;
    color: var(--gray-color);
}

li{
    list-style: none;
    text-decoration: none;
}


img{
    width: 100%;
}

p{
    font-size: 15px;
    line-height: 1.5;
}

.icon-cd_my-account,
.icon-share,
.icon-cd-heart_empty{
    font-size: 20px;
    color: var(--light-gray);
    position: relative;
    top: 2px;
}
.icon-cd-heart_empty{
    top: 4px;
}

.icon-cd-locationPin{
    font-size: 18px;
    position: relative;
    top: 3px;
}


.icon-cd_my-account{
    font-size: 17px;
    color: var(--gray-color);
}

@media (min-width: 480px) {
    h1, h2, h3 {
        color: var(--gray-color);
        font-size: 23px;
        font-weight: 500;
    }
    h1{
        font-size: 27px;
    }
    .h2Title{
        font-size: 20px;
        font-weight: 500;
    }
}
