*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', Sans-Serif, Arial;
    color: var(--light-gray);
    background-color: var(--white);
}

h1, h2, h3 {
    color: var(--gray-color);
    font-size: 18px;
    margin-bottom: 8px;
}
h1{
    font-size: 27px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: var(--blue-link);
    font-size: 14px;
    font-weight: 500;
}

img{
    max-width: 100%;
}

p{
    font-size: 15px;
    line-height: 1.6;
}


main{
    padding: 34px 0px;
}