.feature-tabs{
    left: -20px;
    width: calc(100% + 40px);
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(36, 39, 44, .15);
    overflow-y: auto;
}

.feature-tabs li{
    line-height: 10px;
    list-style: none;
    color: var(--light-grey-font);
    padding: 14px 0;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    white-space: nowrap;
}

.feature-tabs li:hover{
    color: var(--gray-color);
    font-weight: 500px;
}
.otherDetails .limitedOffer{
    margin-top: 6px;
    margin-bottom: 10px;
}

strong{
    font-weight: 600;
}
.table-data{
    margin-top: 15px;
}
.table-data tr{
    font-size: 15px;
    padding: 6px 0;
}
.table-data .blockTb{
    display: block;
}
.table-data td{
    font-size: 13px;
}

.table-data .iconname{
    color: var(--gray-color);
    font-weight: 400;
    font-size: 13px;
}
.hondaprice-data{
    padding: 27px 0px 37px 20px;
}

.link-btn{
    cursor: pointer;
    font-size: 14px !important;
    line-height: 21px;
    margin: 13px 0 0;
}

.finOffer .editEMI .EMIamt{
    font-size: 17px;
    color: var(--gray-color);
    font-weight: 600;
}
.finOffer .editEMI .linkTag{
    margin-left: 0;
    color: var(--gray-color);
    font-size: 14px;
}

.finOffer .offerImg{
    top: 8px;
    position: absolute;
    right: -27px;
}
.finOffer .offerImg img{
    width: 105px;
    height: 90px;
}

.broDown .brochureImg{
    position: absolute;
    right: -19px;
}


.hondaprice{
    padding-bottom: 0;
}
.hondaprice table{
    width: 100%;
}

.hondaprice .blueLink{
    font-weight: 500;
}

.hondaprice > p{
    font-size: 13px;
}

 .hondaprice tbody .variants{
    padding-top: 16px;
 }

 .hondaprice tbody .variants:last-child,
 .hondaprice tbody .variants:nth-child(3){
    padding-top: 6px;
    padding-bottom: 13px;
    
 }

 .hondaprice table thead tr{
    display: grid;
    grid-template-columns: auto 131px;
    justify-content: stretch;
 }
 .hondaprice table tbody tr{
    display: grid;
    grid-template-columns: auto 131px;
    justify-content: stretch;
 }
 .variants:nth-child(3){
    grid-column: 2;
    grid-row: 2;
 }
 .variants:nth-child(4){
    grid-column: 1;
    grid-row: 2;
 }
 .hondaprice tbody .variants .comparetext{
    font-size: 11px;
 }
 .hondaprice tbody .variants label{
    justify-content: flex-start;
    top: 13px;
 }
 .hondaprice tbody .variants .secondaryBtn{
    border: none;
    font-weight: 400;
 }
 .hondaprice table thead th{
    font-size: 12px;
    padding: 5px 0 13px 0;
    font-weight: 400;
 }
 .hondaprice .variants .dotlist span:before {
    background: rgba(36, 39, 44, .9);
    border-radius: 50%;
    content: "";
    height: 3px;
    left: -11px;
    position: absolute;
    top: 6px;
    width: 3px;
 }

 .hondaprice .variants .dotlist span:first-child::before{
    content: none;
 }
 .hondaprice .variants .dotlist span{
    font-size: 12px;
 }
 .hondaprice .variants a{
    font-size: 15px;
    color: var(--gray-color);
    font-weight: 400;
 }
 .hondaprice .priceVal > span{
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-color);
 }

.bg{
    border: none;
    background-color: var(--light-bg);
    color: var(--light-grey-font);
}
.expertReview{margin-bottom: 12px;}
.news{margin-bottom: 12px;}
.colors{margin-bottom: 12px;}
.imgbike{margin-bottom: 12px;}
.virtual{margin-bottom: 12px;}
.userReview{margin-bottom: 12px;}
.ans{margin-bottom: 12px;}
.ask{margin-bottom: 12px;}
.option{margin-bottom: 12px;}
.explorer{margin-bottom: 12px;}


.expertReview .contentHolder{
    margin-top: 16px;
}
.expertReview  .rightthings{
    padding: 8px;
    border-radius: var(--radius-md);
}

.rightthings{
    background-color: #dff1e74d;
}
.wrongthings{
    display: none;
    background-color: rgba(255, 30, 60, .03);
}

/* .expertReview .hidden-sm{
    display: none;
} */
.expertReview .tabTitle li{
    font-size: 14px;
    padding: 14px 0;
    border-bottom: 3px solid transparent;
}
.expertReview .tabTitle li:hover{
    border-bottom: 3px solid var(--primary-color);
}
.expertReview .tabTitle li:first-child{
    margin-right: 36px;
}

.expertReview .icon-cd-thumbup{
    color: #6bad23;
}

.expertReview .icon-cd-thumbdown{
    color: #ff1e3c;
}
.expertReview .rightthings li {
    line-height: 1.7;
    font-size: 15px;
    margin: 6px 0 0 28px;
}

.expertReview .rightthings li::before{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #6bad23;
        content: "";
        position: absolute;
        left: -16px;
        top: 10px;
}
.expertReview .wrongthings li::before{
    background: #ff1e3c;
}


.comparision{
    margin-bottom: 12px;
    color: var(--gray-color);
}
.comparision .tableResp .price{
    font-size: 15px;
    font-weight: 500;
    line-height: 5px;
}
.comparision .tableResp .price .icon-cd_R {
    font-size: 14px;
    top: 1px;
}

.comparision .startRating .ratingStarNew{
    font-weight: 700;
} 

.comparision .crewImg img{
    margin-bottom: 7px;
    border-radius: var(--radius-md);
    max-height: 100px;
    max-width: 150px;
}
.comparision .tableResp{
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -20px;
}
.comparision table tr td{
    vertical-align: top;
    min-width: 162px;
}
.comparision table .blueLink.offers{
    margin-bottom: 12px;
    color: var(--primary-color);
    font-weight: 400;
}

.comparision .specarea .name{
    color: var(--gray-color);
    font-weight: 500;
    line-height: 24px;
    margin: 0 -9px 4px;
    background: rgba(217, 217, 217, .2);
    text-indent: -9999px;
}

.comparision table tr td:first-of-type{
    position: sticky;
    left: 0;
    z-index: 1;
    background: var(--white);
    box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, .06);
    min-width: 176px;
    vertical-align: top;
}
.comparision .specarea:first-of-type .name{
    text-indent: unset;
    border-bottom: none;
    margin-left: -20px;
}
.comparision table tr .cviewing{
    font-size: 14px;
    color: var(--light-gray);
}
.comparision .tableResp::-webkit-scrollbar {
    height: 10px;
}


.comparision .tableResp::-webkit-scrollbar-thumb {
    background-color: #c7c8ca;
    border-radius: 20px;
    border: 3px solid #fff;
}

.comparision .tableResp::-webkit-scrollbar-track {
    background: #fff;
}
.trending{
    color: var(--gray-color);
    font-size: 14px;
    line-height: 16px;

}
.trending a{
    font-weight: 400;
}

.trending .tab>ul li{
    padding: 16px 0;
    margin-right: 36px;
    color: var(--light-grey-font);
}

.trending .card img{
    border-radius: var(--radius-md);
}
.trending .blueLink a{
    color: var(--blue-color);
}
.trending .tab .blueLink{
    margin-top: 12px;
}
.trending .tab .borderbtm{
    font-weight: 500;
    color: var( --gray-color);
    border-bottom: 3px solid var(--red-hover);
}
.trending  .card .price{
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
}
 .trending .tab img{
    border-radius: var( --radius-md);
}
.trending .price{
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
}

.indianprice span{
    color: var(--grey-hover-font);
}
.indianprice th{
    color: rgba(36, 39, 44, .5);
    font-size: 11px;
    font-weight: 400;
}
.indianprice td{
    margin-top: 12px;
}
.indianprice thead{
    padding: 0px 20px;
    left: -20px;
    width: calc(100% + 40px);
    background: #f8f8f8;
}
.indianprice thead .index{
    line-height: 25px;
}
.news img{
    border-radius: var( --radius-md);
    height: 174px!important;
}
.news .content{
    height: 153px;
    padding: 10px 16px 16px 16px;
}
.news .content .heading{
    color: var( --grey-hover-font);
    font-size: 15px;
    font-weight: 500;
}
.news .content p{
    margin-top: 8px;
    font-size: 13px;
}
.news .content .dotboxlabel{
    font-size: 11px;
}
.news .content .date::before{
    
    background: rgba(36, 39, 44, .9);
    border-radius: 50%;
    content: "";
    height: 3px;
    left: -11px;
    position: absolute;
    top: 6px;
    width: 3px;
}
 .news .news-card{
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
    border: 1px solid rgba(36, 39, 44, .1);
 }
 .news .bluelink a{
    font-size: 14px;
 color: var( --blue-color);
 }

    /* .trending .tab .blueLink a{
    font-weight: 400;
} */
 .colors .blueLink{
    margin-top: 24px;
 }
 .colors p{
    font-size: 13px;
 }
 .colors img{
    min-height: 192px;
    border-radius: 8px;
    border: 1px solid rgba(36, 39, 44, .1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .1);
 }
 .colors span{margin-top: 8px;}
 .colors h2{margin-bottom: 8px;}
 .colors .label{
    color:var( --grey-hover-font);
    font-size: 15px;
    font-weight: 500;
 }
 .colors.color-icon i{
    outline: 1px solid rgba(36, 39, 44, .15);
 }
 .colors .color-icon .color-icon-r{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--red-icon-bg);
 }
 .colors .mt-24{
    font-weight: 400;
    margin-top: 24px;
 }
 .imgbike img{
    border-radius: var( --radius-md);
 }
 .imgbike span{
    font-weight: 400;
 }
 .virtual img{
border-radius: var( --radius-md);
 }
 .virtual .tag{
    white-space: nowrap;
    transform: translate(-50%, -50%);
    padding: 7px 12px;
    background-color:var( --white);
    position: absolute;
    border-radius: 50px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    color: var(--gray-color);
 }
 .virtual p{
    font-size: 15px;
    font-weight: 500;
    color: var( --gray-color);
 }
 .virtual .blueLink{
    font-weight: 400;
 }
 .explorer .content{
    padding: 16px;
 }

 .explorer .exploreprice{
    color: var(--gray-color);
    padding: 16px;
    font-size: 15px;
    font-weight: 400;
 }
 .explorer .explorecard{
    border-radius: var( --radius-md);
    box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
    border: 1px solid rgba(36, 39, 44, .1);
 }
 .explorer .explorebtn{
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
 }
 .explorer .blueLink{
    line-height: 3;
    font-size: 14px;
    font-weight: 400;
 }
/* .ask img{
    height: 118px;
    width: 115px;
} */
 .ask .ImgContainer img{
    width: 63px;
    height: 63px;
    position: absolute;
    right: 20px;
    top: 10px;
 }
 .ask .textContainer .qArea input{
    margin-right: -20px;
 }
 .ask .textContainer .qArea button{
    width: 95px;
    border-radius: var(--radius-md);
    border: 0;
    font-size: 14px;
    height: 40px;
    background: rgba(36, 39, 44, .3);
    color:var(--white);
 }
.ask p{  
    line-height: 1;
    margin-bottom: 19px;
    color: var(--gray-color);
}
.ask input{
    font-family: 'Roboto';
    border-radius: var( --radius-md);
    text-shadow: 0 0 0 var(--gray-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border: 1px solid rgba(36, 39, 44, .3);
    font-size: 14px;
    padding: 9px 10px;
}
.tabs {
    padding: 0 20px;
    border-bottom: 1px solid rgba(36, 39, 44, .15);
}

.tabs .tab {
    font-size: 14px;
    padding:14px 0;
  }
  .tabs .tab:last-child:hover{
    color: var( --grey-hover-font);
  }
 .tabs .tab.active {
    color: var( --gray-color);
    font-weight: 500;
    margin-right: 36px;
    border-bottom: 2px solid red;
  }

  details {
    position: relative;
    transition: height .2s ease;
    color: var(--gray-color);
    font-size: 17px;
    line-height: 25px;
    border-bottom: 1px solid rgba(36, 39, 44, .1);
  }
  details p{
    margin-bottom: 23px;
    font-weight: 400;
    color:var( --light-grey-font);
}
  details:last-of-type{
    border-bottom: none;
  }
.Summary{
    margin-bottom: 12px;
}
.hondaprice{
    margin-bottom: 12px;
}
.modelSpecsMain{margin-bottom: 12px;}
  summary {
    padding: 12px 20px 12px 0;
    font-weight: 400;
    padding-right: 25px;
    list-style: none;
  }

  /* Remove default arrow */
  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    font-weight: 300;
    content: "+";
    position: absolute;
    transform: translateY(-50%);
    right: 5px;
    top: 50%;
    font-size: 24px;
  }

  details[open] summary::after {
    content: "-";
  }
.ans .blueLink a{
    font-weight: 400;
    color: var( --blue-color);
}
.option{
    box-shadow: 0px 1px 3px rgba(36, 39, 44, .15);
  padding: 5px 20px 23px 20px;;
    border-radius:var( --radius-xl);
    align-items: center;
}
.option .label{
    font-size: 11px;
    flex: 1;
}
 .option .btnchoice {
    padding: 0 10px;
    line-height: 18px;
    margin-left: 10px;
    background:var(--white);
    font-size: 12px;
    height: 26px;
    min-width: 45px;
    color: var( --gray-color);
    border: 1px solid #e9e9e9;
    border-radius:var( --radius-sd);
}

.keySpecs{
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 0;
}
.keySpecs h2{
    letter-spacing: 1px;
}
.hondaprice input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
.modelSpecsMain .ExpertTitle{
   margin-bottom: 11px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: var(--gray-color);
    font-weight: 500;
}

.modelSpecsMain .ExpertTitle i{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #d02f2f;
    line-height: 22px;
}
.modelSpecsMain .ExpertTitle .icon-star-full-fill::before{
    font-size: 13px;
    color: var(--white);
}
.modelSpecsMain .specsFeaturesBlock{
    padding: 12px 0 12px 0;
}
.modelSpecsMain .specsFeaturesBlock .readmoreCont{
    height: 100px;
    overflow: hidden;
    margin-top: 6px;
}
.modelSpecsMain .specsFeaturesBlock .readmoreCont li p{
    line-height: 1.7;
}
.modelSpecsMain .specsFeaturesBlock img{
    border-radius: var(--radius-md);
}

.modelSpecsMain .specsFeaturesBlock h3{
    font-weight: 500;
    font-size: 17px;
}
.modelSpecsMain  .expandMore span{
    top: 2px;
    left: -3px;
}
.modelSpecsMain .specsFeaturesBlock .expandMore{
    background: linear-gradient(transparent, #fff 50%, #fff);
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
}
.modelSpecsMain .specsFeaturesBlock .expandMore span{
    font-weight: 600;
}

.userReview .userReviewBox{
    border-radius: var(--radius-md);
}

.userReview .ratingvalue{
    font-size: 32px;
    font-weight: 600;
    color: var(--gray-color);
}

.userReview .startRating .valueStar{
    font-size: 28px;
}
.userReview .startRating{
    line-height: normal;
    padding-left: 10px;
}
.userReview .bottomText{
    margin-left: 3px;
    color: var(--gray-color);
}
.userReview .secondaryBtn{
    margin: 12px 0;
    font-weight: 400;
    width: 100%;
}

.userReview .mentions .tabtitle{
    font-size: 15px;
    color: var(--gray-color);
}
.userReview .mentions .moreDropDown > ul.mobileCrousel{
    white-space: nowrap;
}
.userReview .mentions .moreDropDown li{
    font-size: 12px;
    border: 1px solid rgba(36, 39, 44, .1);
    border-radius: var(--radius-sm);
    box-shadow: 0 1px 4px 0 rgba(36, 39, 44, .08);
    padding: 8px 12px;
    margin-right: 5px;
    line-height: 20px;
    color: var(--gray-color);
 }
.userReview .mentions .filters li{
    font-size: 14px;
    margin-right: 36px;
    padding: 14px 0;
    border-bottom: 3px solid transparent;
}
.userReview .mentions .filters li:hover{
    color: var(--gray-color);
    border-bottom: 3px solid var(--primary-color);
    font-weight: 500;
}

.userReview .latestReviews .profile{
    width: 32px;
    height: 32px;
    background: #9fb7e4;
    border-radius: 50%;
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
}
.userReview .latestReviews .userInfo{
    align-items: center;
    gap: 9px;
}
.userReview .latestReviews .name{
    font-size: 11px;
}
.userReview .latestReviews .ratingStarNew{
    font-weight: 600;
}
.userReview .latestReviews .content{
    line-height: 22px;
}
.userReview .latestReviews .title{
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 500; 
}
.userReview .latestReviews .link::before{
    content: '...';
    position: relative;
    left: 3px;
}
.userReview .latestReviews .link{
    background: var(--white);
    position: absolute;
    right: 0;
    bottom: 0;
}
.userReview .latestReviews .voteBtn span{
    font-size: 10px;
    border: 1px solid var(--grey-icon-bg);
    border-radius: 6px;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}

.breadcrumb-list{
    line-height: 2px;
    font-size: 10px;
    color: var(--blue-color);
}

.breadcrumb-list a{
    color: var(--blue-color);
    margin-right: 16px;
    padding: 7px 0;
}
.breadcrumb-list i{
    margin-right: 10px;
}
.breadcrumb-list .model{
    color: var(--light-gray);
}
.modelNew .ModelDropDown{
    background: white;
    opacity: 0;
    border: 1px solid rgba(36, 39, 44, .15);
    border-radius: 3px;
    bottom: auto;
    box-shadow: 0 3px 5px 0 rgba(36, 39, 44, .15);
    left: -999px;
    position: absolute;
    transform: rotateX(-92deg);
    width: 315px;
    z-index: 999;
}
.modelNew .ModelDropDown ul li span{
    border-bottom: 1px solid #fafafa; 
    color: #24272c;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 3.39;
    padding: 0 0 0 22px;
    text-transform: none;
}

.ArrowTop::after , .ArrowTop::before{
    border: solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 30px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.modelNew.left .ArrowTop::after ,.modelNew.left .ArrowTop::before{
    right: 15px;
    left: auto;
}
.ArrowTop::before{
    border-color: hsla(210, 3%, 87%, 0) hsla(210, 3%, 87%, 0) #dedfe0;
    border-width: 11px;
    margin-left: -11px;
}
.ArrowTop::after{
    border-color: hsla(0, 0%, 100%, 0) hsla(0, 0%, 100%, 0) #fff;
    border-width: 10px;
    margin-left: -10px;
}
.modelNew:hover .ModelDropDown {
    left: -10px;
    opacity: 1;
    transform: rotateX(0deg);
  }
  .modelNew.left:hover .ModelDropDown {
    padding: 0 22px 0 0;
    text-align: right;
    right: 0;
    left: auto;
  }
  .modelNew :hover .arrowTop::before{
    opacity: 1;
  }
  .ModelDropDown li:hover{
    background: #fafafa;
    color: #24272c;
    padding-bottom: 0;
  }
 

