.feature-tabs{
    left: -20px;
    width: calc(100% + 40px);
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(36, 39, 44, .15);
    overflow-y: auto;
}
.feature-tabs li.active {
    border-bottom: 3px solid var( --red-hover);
    font-weight: bold;
  }
  
.feature-tabs li{
    line-height: 10px;
    list-style: none;
    padding: 14px 0;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    white-space: nowrap;
}
.colors .label,.standfeature p,.featurename,.virtual .tag,.modalCompare .Vstag,.modelPrice .bikeDtls .blueLink.userReview .latestReviews .title,.userReview .title,.authorize .deal1,
.userReview .mentions .filters li:hover,.modelSpecsMain .ExpertTitle,.modelSpecsMain .specsFeaturesBlock h3,
 .tabs .tab.active,.virtual p,.explorer .explorebtn,.hondaprice .priceVal > span,.news .content .heading,.comparision .specarea .name.trending .price,.trending .tab .borderbtm,.hondaprice .blueLink,.feature-tabs li:hover,.trending  .card .price,.comparision .tableResp .price{
    font-weight: 500;
}
/*400-weight*/
.hondaprice .variants a,.modalCompare .price-size,.hondaprice table thead th,.hondaprice tbody .variants .secondaryBtn, .colors .mt-24,.explorer .exploreprice,
.table-data .iconname,.modelNew .ModelDropDown ul li span,.indianprice th, details p,.userReview .secondaryBtn, summary ,.ans .blueLink a, .explorer .blueLink,.comparision table .blueLink.offers,.hondaprice tbody .variants .secondaryBtn,.imgbike span,.virtual .blueLink,.trending a{
    font-weight: 400;
}
.userReview .ratingvalue,.userReview .latestReviews .profile,.finOffer .editEMI .EMIamt, .strong,.userReview .latestReviews .ratingStarNew,.modelSpecsMain .specsFeaturesBlock .expandMore span{
    font-weight: 600;
}
.bg,.hondaprice tbody .variants .secondaryBtn{
    border: none;  
 }
.feature-tabs li:hover,.userReview .mentions .filters li:hover, .tabs .tab:last-child:hover,.grayShade{
    color: var(--gray-color);
}
.table-data .iconname,.modelPrice .bikeDtls .blueLink,.hondaprice > p,.modelSpecsMain .ExpertTitle .icon-star-full-fill::before,.modelSpecsMain .ExpertTitle,.colors p,.news .content p,.table-data td{
    font-size: 13px;
}
.trending,.comparision table tr .cviewing,.userReview .mentions .filters li,.tabs .tab, .ask input,.ask .textContainer .qArea button, .explorer .blueLink,.comparision .tableResp .price .icon-cd_R,.finOffer .editEMI .linkTag,.expertReview .tabTitle li{
    font-size: 14px;
}
.expertReview .rightthings li,.userReview .latestReviews .title,.userReview .latestReviews .profile,.table-data tr,.userReview .mentions .tabtitle,.explorer .exploreprice,.virtual p, .colors .label,.news .content .heading,.trending .price,.hondaprice .priceVal > span,.comparision .tableResp .price,.hondaprice .variants a{
    font-size: 15px;
  
 }
 .virtual img,.modelSpecsMain .specsFeaturesBlock img,.expertReview  .rightthings,.imgbike img,.ask input .ask .textContainer .qArea button, .userReview .userReviewBox.trending .card img, .explorer .explorecard,.news img,.comparision .crewImg img, .trending .tab img{
    border-radius: var( --radius-md);
}
 
.otherDetails .limitedOffer{
    margin-block: 6px 10px;
}
.table-data{
    margin-top: 15px;
}
.table-data tr{
    padding: 6px 0;
}

.hondaprice-data{
    padding: 27px 0px 37px 20px;
}
.link-btn{
    cursor: pointer;
   font-size: 14px !important;
    line-height: 21px;
    margin: 13px 0 0;
}

.finOffer .editEMI .EMIamt,.modelSpecsMain .specsFeaturesBlock h3,details, .modelSpecsMain .ExpertTitle{
    font-size: 17px;
}

.finOffer .offerImg{
    top: 8px;
    position: absolute;
    right: -27px;
}
.finOffer .offerImg img{
    width: 105px;
    height: 90px;
}

.broDown .brochureImg{
    position: absolute;
    right: -19px;
}
.hondaprice{
    padding-bottom: 0;
}
.hondaprice table,.modelSpecsMain .specsFeaturesBlock .expandMore,.userReview .secondaryBtn{
    width: 100%;
}

 .hondaprice tbody .variants{
    padding-top: 16px;
 }

 .hondaprice tbody .variants:last-child,
 .hondaprice tbody .variants:nth-child(3){
    padding: 6px 0 13px 0;
    
 }

 .hondaprice table tbody tr, .hondaprice table thead tr{
    display: grid;
    grid-template-columns: auto 131px;
    justify-content: stretch;
 }

 .variants:nth-child(3){
    grid-column: 2;
    grid-row: 2;
 }
 .variants:nth-child(4){
    grid-column: 1;
    grid-row: 2;
 }
 .hondaprice tbody .variants .comparetext,.news .content .dotboxlabel,.indianprice th, .header .topArea .LangProfile,.userReview .latestReviews .name,.option .label{
    font-size: 11px;
 }
 .hondaprice tbody .variants label{
    justify-content: flex-start;
    top: 13px;
 }

 .hondaprice table thead th{
    padding: 5px 0 13px 0;
   
 }
 .hondaprice .variants .dotlist span:before {
    background: rgba(36, 39, 44, .9);
    border-radius: 50%;
    content: "";
    height: 3px;
    left: -11px;
    position: absolute;
    top: 6px;
    width: 3px;
 }

 .hondaprice .variants .dotlist span:first-child::before{
    content: none;
 }
 .hondaprice table thead th,.option .btnchoice,.userReview .mentions .moreDropDown li,.hondaprice .variants .dotlist span{
    font-size: 12px;
 }
.bg{
    background-color: var(--light-bg);
}

.expertReview .contentHolder{
    margin-top: 16px;
}
.expertReview  .rightthings{
    padding: 8px;

}

.rightthings{
    background-color: #dff1e74d;
}
.wrongthings{
    display: none;
    background-color: rgba(255, 30, 60, .03);
}
.featurename{
    color: var(--gray-color);
}
.expertReview .tabTitle li{
    padding: 14px 0;
    border-bottom: 3px solid transparent;
}
.expertReview .tabTitle li:hover{
    border-bottom: 3px solid var(--primary-color);
}
.expertReview .tabTitle li:first-child,.trending .tab>ul li,.userReview .mentions .filters li, .tabs .tab.active {
    margin-right: 36px;
}

.expertReview .icon-cd-thumbup{
    color: #6bad23;
}

.expertReview .icon-cd-thumbdown{
    color: #ff1e3c;
}
.expertReview .rightthings li {
     margin: 6px 0 0 28px;
}

.expertReview .rightthings li::before{
        width: 4px;
         height: 4px; 
          border-radius: 50%; 
           background: #6bad23; 
            content: "";
             position: absolute;
             left: -16px;
             top: 10px;
}
.expertReview .wrongthings li::before{
    background: #ff1e3c;
}
.comparision .tableResp .price{
    line-height: 5px;
}
.comparision .tableResp .price .icon-cd_R {
    top: 1px;
}

.modelSpecsMain .specsFeaturesBlock h3,.comparision .startRating .ratingStarNew,.modelPrice .btn{
    font-weight: 700;
} 

.comparision .crewImg img{
    margin-bottom: 7px;
    max-height: 100px;
    max-width: 150px;
}
.comparision .tableResp{
    overflow-x: auto;
    margin-inline:-20px;
}
.comparision table tr td{
    vertical-align: top;
    min-width: 162px;
}
.comparision table .blueLink.offers{
    color: var(--primary-color);
}

.comparision .specarea .name{
    margin: 0 -9px 4px;
    background: rgba(217, 217, 217, .2);
    text-indent: -9999px;
}

.comparision table tr td:first-of-type{
    position: sticky;
    left: 0;
    z-index: 1;
    background: var(--white);
    box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, .06);
    min-width: 176px;
    vertical-align: top;
}
.comparision .specarea:first-of-type .name{
    text-indent: unset;
    border-bottom: none;
    margin-left: -20px;
}
.keySpecs h2{
    letter-spacing: 1;
}
#topFeatures , #standOut,#Latest{
    display: none;
}
.comparision table tr .cviewing,.breadcrumb-list .model{
    color: var(--light-gray);
}
.comparision .tableResp::-webkit-scrollbar {
    height: 10px;
}
.comparision .tableResp::-webkit-scrollbar-thumb {
    background-color: #c7c8ca;
    border-radius: 20px;
    border: 3px solid #fff;
}

.comparision .tableResp::-webkit-scrollbar-track {
    background: #fff;
}
.trending, .feature-tabs li{
    line-height: 16px;

}

.trending .tab>ul li{
    padding: 16px 0;
}


.trending .blueLink a{
    color: var(--blue-color);
}

.indianprice td,.trending .tab .blueLink{
    margin-top: 12px;
}
.trending .tab .borderbtm{
    border-bottom: 3px solid var(--red-hover);
}

.trending .price,.comparision .specarea .name{
    line-height: 24px;
}
.indianprice th{
    color: rgba(36, 39, 44, .5);
}
.indianprice thead{
    padding: 0px 20px;
    left: -20px;
    width: calc(100% + 40px);
    background: #f8f8f8;
}
.indianprice thead .index{
    line-height: 25px;
}
.news img,.imgbike img{
    height: 174px!important;
}
.news .content{
    height: 153px;
    padding: 10px 16px 16px 16px;
}
.news .content .date::before{
    
    background: rgba(36, 39, 44, .9);
    border-radius: 50%;
    content: "";
    height: 3px;
    left: -11px;
    position: absolute;
    top: 6px;
    width: 3px;
}
 .news .news-card{
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
    border: 1px solid rgba(36, 39, 44, .1);
 }
 .news .bluelink a{
    font-size: 14px;

 }
.colors span,.colors .blueLink,.news .content p,.virtual p{
    margin-top: 8px;
 }
 
 .colors img{
    min-height: 192px;
    border-radius: 8px;
    border: 1px solid rgba(36, 39, 44, .1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .1);
 }
 .colors h2{margin-bottom: 8px;}
 
 .colors.color-icon i{
    outline: 1px solid rgba(36, 39, 44, .15);
 }
 .colors .color-icon .color-icon-r{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--red-icon-bg);
 }
 .colors .mt-24{
    
    margin-top: 24px;
 }

 .virtual img{
    height: 176px;
 }
 .virtual .tag{
    white-space: nowrap;
    transform: translate(-50%, -50%);
    padding: 7px 12px;
    background-color:var( --white);
    position: absolute;
    border-radius: 50px;
    top: 50%;
    left: 50%;
 }
 
 .explorer .content,.userReview .shadow24, .explorer .explorepricet{
    padding: 16px;
 }

 .explorer .exploreprice{
    line-height: 15px;
 }
 .explorer .explorecard{
    box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
    border: 1px solid rgba(36, 39, 44, .1);
 }
 .explorer .explorebtn{
    margin-top: 14px;
    font-size: 16px;
   
 }
 .explorer .blueLink{
    line-height: 3;

 }
/* .ask img{
    height: 118px;
    width: 115px;
} */
 .ask .ImgContainer img{
    width: 63px;
    height: 63px;
    position: absolute;
    right: 20px;
    top: 10px;
 }
 .ask .textContainer .qArea input{
    border-radius: 8px;
    margin-right: -20px;
 }
 .ask .textContainer .qArea button{
    border-radius: 8px;
    width: 95px;
    border: 0;
    height: 40px;
    background: rgba(36, 39, 44, .3);
    color:var(--white);
 }
.ask p{  
    line-height: 1;
    margin-bottom: 19px;
}
.ask input{
    text-shadow: 0 0 0 var(--gray-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border: 1px solid rgba(36, 39, 44, .3);
    padding: 9px 10px;
}
.standfeature li{width: 33%;}
.standfeature img{ border-radius: var(--radius-md); height: 176px;}
.standfeature{display: flex;}
.standfeature p{padding-top: 10px; color: var(--gray-color);}

.tabs {
    padding: 0 20px;
    border-bottom: 1px solid rgba(36, 39, 44, .15);
}

.tabs .tab {
    padding:14px 0;
  }
  details {
    position: relative;
    transition: height .2s ease;
    line-height: 25px;
    border-bottom: 1px solid rgba(36, 39, 44, .1);
  }
  details p{
    margin-bottom: 23px;
}
  details:last-of-type{
    border-bottom: none;
  }

 .explorer img{
    border-radius: 8px 8px 0 0;
    height: 194px!important;
    }
  summary {
    padding: 12px 20px 12px 0;
    padding-right: 25px;
    list-style: none;
  }
  .Summary li  p:nth-child(2){
    line-height: 1.6px;}

  /* Remove default arrow */
  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    font-weight: 300;
    content: "+";
    position: absolute;
    transform: translateY(-50%);
    right: 5px;
    top: 50%;
    font-size: 24px;
  }

  details[open] summary::after {
    content: "-";
  }
.ans .blueLink a, .news .bluelink a{
    color: var( --blue-color);
}
.option{
    box-shadow: 0px 1px 3px rgba(36, 39, 44, .15);
  padding: 5px 20px 23px 20px;;
    border-radius:var( --radius-xl);
    align-items: center;
}
.option .label{
    flex: 1;
}
 .option .btnchoice {
    padding: 0 10px;
    line-height: 18px;
    margin-left: 10px;
    background:var(--white);
    height: 26px;
    min-width: 45px;
    border: 1px solid #e9e9e9;
    border-radius:var( --radius-sd);
}
/*.keySpecs h2{
    letter-spacing: 1px;
}*/
.hondaprice input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
.modelSpecsMain .ExpertTitle{
   margin-bottom: 11px;
    display: flex;
    align-items: center;
}

.modelSpecsMain .ExpertTitle i{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #d02f2f;
    line-height: 22px;
}
.modelSpecsMain .ExpertTitle .icon-star-full-fill::before{
    color: var(--white);
}
.modelSpecsMain .specsFeaturesBlock{
    padding: 12px 0 12px 0;
}
.modelSpecsMain .specsFeaturesBlock .readmoreCont{
    height: 100px;
    overflow: hidden;
    margin-top: 6px;
}
.modelSpecsMain .specsFeaturesBlock .readmoreCont li p,.expertReview .rightthings li{
    line-height: 1.7;
}

.modelSpecsMain  .expandMore span{
    top: 2px;
    left: -3px;
}
.modelSpecsMain .specsFeaturesBlock .expandMore{
    background: linear-gradient(transparent, #fff 50%, #fff);
    position: absolute;
    bottom: -5px;
    right: 0;
}


.userReview .ratingvalue{
    font-size: 32px;
}

.userReview .startRating .valueStar{
    font-size: 28px;
}
.userReview .startRating{
    line-height: normal;
    padding-left: 0;
}
.userReview .bottomText{
    margin-left: 3px;
}
.userReview .secondaryBtn{
    margin: 12px 0 10px;
}

.userReview .mentions .broderBd{
    margin-bottom: 15px;
}
.userReview .mentions .moreDropDown > ul.mobileCrousel{
    white-space: nowrap;
}
.userReview .mentions .moreDropDown li{
    border: 1px solid rgba(36, 39, 44, .1);
    border-radius: var(--radius-sm);
    box-shadow: 0 1px 4px 0 rgba(36, 39, 44, .08);
    padding: 8px 12px;
    margin-right: 5px;
    line-height: 20px;
 }
.userReview .mentions .filters li{
    padding: 14px 0;
    border-bottom: 3px solid transparent;
}
.userReview .mentions .filters li:hover{
   
    border-bottom: 3px solid var(--primary-color);

}

.userReview .latestReviews .profile{
    width: 32px;
    height: 32px;
    background: #9fb7e4;
    border-radius: 50%;
    color: var(--white);
   
}
.userReview .latestReviews .userInfo{
    margin-bottom: 8px;
    align-items: center;
    gap: 9px;
}

.userReview .latestReviews .content,.userReview .contentHeight{
    line-height:22px;
}
.userReview .latestReviews .link::before{
    content: '...';
    position: relative;
    left: 3px;
}
.userReview .latestReviews .link{
    background: var(--white);
    position: absolute;
    right: 0;
    bottom: 0;
}
.userReview .latestReviews .voteBtn span{
    font-size: 10px;
    border: 1px solid var(--grey-icon-bg);
    border-radius: 6px;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}
.authorize ul{
    padding-right: 20px;
}
.authorize h2{font-size: 20px; font-weight: 700;}
.authorize ul li{
    padding: 6px 0 2px 0;
}
.authorize .deal{
    min-height: 169px;
    border-radius: 8px;
    border: 1px solid rgba(36, 39, 44, .1);
    box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
    background: #fff;
    padding: 16px;
}
.authorize .btn{font-weight: 600; font-size: 14px; height: 40px; padding: 0 5px 0 5px;}
.authorize .deal1{
    font-size: 15px; color: var(--gray-color);
}
.authorize .deal2{
    font-size: 13px; margin-block: 3px 12px;height: 36px;
}
.modalCompare{
    display: none;
}
.modalCompare.show {
    display: block;
  }
.modalCompare .carbox-content{
    background: #fff;
    border: 1px solid rgba(36, 39, 44, .1);
    border-radius: 16px;
    box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
    padding: 0;
}
.modalCompare .carbox-first{
    margin-right: -10px;
}
.modalCompare .carbox-second{
    margin-left: -10px;
}
.modalCompare .borderright{
    border-radius: 0 8px 0 0;
}
.modalCompare .borderleft{
    border-radius: 8px 0 0;
}
.modalCompare .compare-price{
    font-size: 16px;
  height: 36px;
}
.modalCompare .price-size{
    padding: 0 0px 0 12px;
    color: var( --grey-hover-font);
    font-size: 17px;
}
.modalCompare .button{
    width: 100%;
    padding: 16px;
}
.modalCompare .Vstag{
    background: #24272c;
    border: 1px solid rgba(36, 39, 44, .15);
    border-radius: 50%;
    color:var(--white);
    height: 36px;
    line-height: 36px;
    margin-top: -18px;
    position: absolute;
    right: -18px;
    text-align: center;
    top: 50%;
    width: 36px;
    z-index: 1;
}

.breadcrumb-list{
    line-height: 2px;
    font-size: 10px;
    color: var(--blue-color);
}

.breadcrumb-list a{
    color: var(--blue-color);
    margin-right: 16px;
    padding: 7px 0;
}
.breadcrumb-list i{
    margin-right: 10px;
}
.modelNew .ModelDropDown{
    background: white;
    opacity: 0;
    border: 1px solid rgba(36, 39, 44, .15);
    border-radius: 3px;
    bottom: auto;
    box-shadow: 0 3px 5px 0 rgba(36, 39, 44, .15);
    left: -999px;
    position: absolute;
    transform: rotateX(-92deg);
    width: 315px;
    z-index: 999;
}
.modelNew .ModelDropDown ul li span{
    border-bottom: 1px solid #fafafa; 
    color: #24272c;
    cursor: pointer;
    font-size: 14px;
    line-height: 3.39;
    padding: 0 0 0 22px;
    text-transform: none;
}

.ArrowTop::after , .ArrowTop::before{
    border: solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 30px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.modelNew.left .ArrowTop::after ,.modelNew.left .ArrowTop::before{
    right: 15px;
    left: auto;
}
.ArrowTop::before{
    border-color: hsla(210, 3%, 87%, 0) hsla(210, 3%, 87%, 0) #dedfe0;
    border-width: 11px;
    margin-left: -11px;
}
.ArrowTop::after{
    border-color: hsla(0, 0%, 100%, 0) hsla(0, 0%, 100%, 0) #fff;
    border-width: 10px;
    margin-left: -10px;
}
.modelNew:hover .ModelDropDown {
    left: -10px;
    opacity: 1;
    transform: rotateX(0deg);
  }
  .modelNew.left:hover .ModelDropDown {
    padding: 0 22px 0 0;
    text-align: right;
    right: 0;
    left: auto;
  }
  .modelNew :hover .arrowTop::before{
    opacity: 1;
  }
  .ModelDropDown li:hover{
    background: #fafafa;
    color: #24272c;
    padding-bottom: 0;
  }
  .marginBtm{
    margin-bottom: 12px;
  }
  @media (min-width: 768px){
    .userReview .row-new,.marginBtm{
        margin-bottom: 20px;
    }
    .expertReview .rightthings li { 
        line-height: 1.6;
    }
    .exploreprice .lineHeight{
        line-height: 24px;
    }
    .colors .blueLink{
        margin-top: 18px;
     }
    .news .content p{
        margin-top: 7px;
    }
    .imgbike,.virtual,.explorer,.colors img,.virtual img{
        height: auto;
    }
    .news img,.imgbike img{
     height: 194px!important;
        }
    .userReview .secondaryBtn{
        margin: 12px 0;
    }
    .modelSpecsMain .specsFeaturesBlock .expandMore{
    bottom: 1px; right: -1px;}
    .modelPrice .features,.modelPrice h1{
        margin-bottom: 0;
    }
    .virtual p,.news .bluelink, .table-data ,.userReviewBox .blueLink,.colors span{
        margin-top: 12px;
    }
    .EMIDtls,.modelPrice .reviewShare{
        margin-bottom: 12px;
    }
    .priceDtls,.hondaprice .dotlist{
        margin-top: 4px;
     }
     .bikeDtls .limitedOffer, .table-data td{
        font-size: 15px;
    }
    .modelPrice .btn{font-weight: 400;}
    .userReview .latestReviews, .userReview .latestReviews .userInfo{
        margin-bottom: 8px;
    }
    .keySpecs h2{
        letter-spacing: 0;}
    .modelPrice{
        margin-bottom:28px;
    }
    .authorize ul li{
        width: 33%;
    }
    .feature-tabs li{
        padding: 14px 0;
    }
   
    .hondaprice table thead th{
        padding: 13px 0;
    }

    .modelSpecsMain .ExpertTitle{
        margin-block: 20px 4px;
    }
    .userReview .startRating{
        padding-left: 10px;
    }
   
    .table-data tr{
        padding:13px 0px 8px 10px;
    }
    .table-data .iconname{
        font-weight: 600;
        font-size: 15px;
    }

    .userReview .mentions .broderBd{
        margin-bottom: 16px;
    }
    .modelPrice .morePics{
        position: unset;
    }
    .modelPrice .hondaText{
        margin-top: -5px;
    }

    .modelPrice .bikeImg img{
        border-radius: var(--radius-md);
    }
    .modelPrice .bikeImg img{
        margin-left: -20px;
        height: 304px;
    }
 
    .hondaprice .priceVal > span{
        font-size: 18px;
    }
    
    .bikeDtls .primaryBtn{
        width: 240px;
    }
    .bikeDtls .features li:nth-child(2){
        display: block;
    }
    .priceDtls .bikePrice{
        font-size: 20px;
    }
    .modelNavList, .modelPrice .content{
     padding-left: 0;
    }
    .userReview .secondaryBtn,  .priceDtls .bikePrice{
        font-weight: 500;
    }
    .modelNavList li span{
        padding: 20px 0px;
    }
   
    .trending .tab  .blueLink{
        margin-top: 25px;
    }
    .comparision table tr td{
        vertical-align: unset;
    }
    .modelPrice .bikeDtls .blueLink{
        font-size: 14px;
    }
    .modelPrice .bikeDtls .exCity{
        font-size: 12px;
    }
    .EMIDtls span{font-size: 10px;}
    .EMIDtls{line-height: 5px;}
  }

