
.feature-tabs li{
    list-style: none;
    color: var(--light-grey-font);
    padding: 14px 0;
}
.feature-tabs li:hover{
    color: var(--gray-color);
    font-weight: 500px;
}
.feature-tabs{
    left: -20px;
    width: calc(100% + 40px);
    padding-left: 20px;
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(36, 39, 44, .15);
}
strong{
    font-weight: 600;
}
tbody{
    width: 933px;
    display: grid ;
     grid-template-columns: repeat(2, 50%);
}
.table-data tr{
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 10px;
}
.iconname{
    text-align: right;
}
td{
    width: 40%;
}
td,a{
    font-size: 15px;
}

li{
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    text-transform: none;
}
.link-btn{
    cursor: pointer;
    font-size: 14px !important;
    line-height: 21px;
    margin: 12px 0 0;
}
