.modelPrice .hondaText{
    letter-spacing: 1px;
    margin-top: 29px;
}
.modelNav{
    box-shadow: 0 6px 10px 0 rgba(36, 39, 44, .05);
    width: 100%;
}

.modelPrice .bikeDtls .blueLink{
    font-size: 13px;
    font-weight: 500;
}
.modelPrice .bikeDtls .blueLink.exCity{
    font-weight: 400;
}

.modelPrice .reviewShare .wrtReview{
    padding-left: 10px;
}
.modelPrice .reviewShare{
    margin-bottom: 4px;
}
.modelPrice .buttonHolder{
    margin-top: 10px;
}
.modelPrice .features{
    margin-bottom: 4px;
}

.modelPrice .content{
   padding: 0 20px 10px;}

.modelPrice h1{
    margin-bottom: 4px;
}
.modelNav .listItems .downArrow{
    border-top-color: var( --light-gray);
    top: -2px;

}
.modelNavList{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 33px;
    overflow-y: auto;
}
.modelNavList li{
    cursor: pointer;
    list-style: none;
    transition:0.4s ease-in-out;
    white-space: nowrap;
}

.modelNavList li span{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 16px 0px;
}
.modelNavList > li:hover > span{
    color: var(--primary-color);
    border-bottom: 3px solid #d02f2f;
    padding-bottom: 17px;
}

.modelPrice{
    margin-top: 0;
}

/* temp */
.modelPrice .morePics{
    margin-left:0;
    width: 48px;
    height: 48px;
    background: black;
    border-radius: var(--radius-md);
    position: absolute;
    bottom: -18px;
    left: 20px;

}

.modelPrice .bikeImg img{
    margin-left: 0;
    height: 240px;
}
  
.startRatings .rating{
    color: var(--gray-color);
    font-weight: 700;
}

.bikeDtls .wrtReview::before{
    background: rgba(36, 39, 44, .5);
    border-radius: 50%;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 3px;
}

.priceDtls{
    margin-top: 0;
}
.priceDtls .bikePrice{
    font-size: 18px;
    color: var(--gray-color);
    font-weight: 400;
}

.priceDtls .bikePrice i{
    font-size: 18px;
}

.exShowroom{
    color: rgba(36, 39, 44, .5);;
}
.exShowroom .leftSup{
    font-size: 13px;
}
.exShowroom .exCity{
    font-size: 12px;
}
.exShowroom .exCity i{
    font-size: 10px;
}

.bikeDtls .limitedOffer{
    font-size: 13px;
}

.bikeDtls .limitedOffer i{
    font-size: 20px;
}
.bikeDtls .features li:nth-child(2){
    display: none;
}
.bikeDtls .limitedOffer span{
    vertical-align: top;
}

/* .topArea .logo{
    height: 21px;
} */

@media (min-width: 768px) {
    main{
        padding-top: 34px;
    }
    /* temp */
    .modelPrice .morePics{
        position: unset;
    }
    .modelPrice .hondaText{
        margin-top: -5px;
    }

    .modelPrice .bikeImg img{
        border-radius: var(--radius-md);
    }
    .modelPrice .bikeImg img{
        margin-left: -20px;
        height: 304px;
    }
    .modelPrice .reviewShare{
        margin-bottom: 12px;
    }
    .modelPrice .features{
        margin-bottom: 12px;
    }
    .hondaprice .priceVal > span{
        font-size: 18px;
    }
    .modelPrice .buttonHolder{
        margin-top: 12px;
    }
    .bikeDtls .primaryBtn{
        width: 240px;
    }
    .bikeDtls .features li:nth-child(2){
        display: block;
    }
    .bikeDtls .limitedOffer{
        font-size: 15px;
    }
    .priceDtls .bikePrice{
        font-weight: 500;
    }

    
    .modelNavList{
        overflow-y: unset;
        padding-left: 0;
    }
    .modelNavList li span{
        padding: 20px 0px;
    }
    .modelPrice .content{
        padding-left: 0;
    }
    .hondaprice .dotlist{
        margin-top: 4px;
     }
    .trending .tab  .blueLink{
        margin-top: 25px;
    }
    .modelSpecsMain .specsFeaturesBlock{
        margin-top: 4px;
    }
    .otherDetails .limitedOffer{
        margin-bottom: 12px;
        margin-top: 6px;
    }
    .comparision table tr td{
        vertical-align: unset;
    }
    .modelSpecsMain{margin-bottom: 20px;}
    .comparision{margin-bottom: 20px;}
    .expertReview{margin-bottom: 20px;}
    .news{margin-bottom: 20px;}
    .colors{margin-bottom: 20px;}
    .imgbike{margin-bottom: 20px;}
    .virtual{margin-bottom: 20px;}
    .userReview{margin-bottom: 20px;}
    .ans{margin-bottom: 20px;}
    .ask{margin-bottom: 20px;}
    .option{margin-bottom: 20px;}
    .explorer{margin-bottom: 20px;}
    .expertReview .rightthings li {
        line-height: 0;
    }
    .colors span{margin-top: 12px;}
    .news .bluelink{
        margin-top: 18px;
     }
    .news .content p{
        margin-top: 11px;}

    .news img{
            height: 194px!important;
        }
        .colors img{height: auto;}
    .modelPrice .morePics{
        margin-left: -9px;
    }

    .modelPrice{
        margin-top: -8px;
        margin-bottom: 28px;
    }
    .modelPrice h1{
        margin-bottom: 0;
    }
    .priceDtls{
        margin-top: -8px;
    }
    .feature-tabs li{
        line-height: 0;
        padding: 9px 0;
    }
    .Summary{
        margin-bottom: 20px;
    }
    .hondaprice{
        margin-bottom: 20px;
    }
    .hondaprice table thead th{
        padding: 13px 0;
    }
    .modelSpecsMain .specsFeaturesBlock h3{
        font-weight: 700;}

    .modelSpecsMain .ExpertTitle{
        margin: 20px 0 4px 0;
        font-size: 17px;
    }
    .table-data{
        margin-top: 12px;
    }
    .table-data tr{
        padding:13px 16px 8px 10px;
    }
    .table-data td{
        font-size: 15px;
    }
    .table-data .iconname{
        font-weight: 600;
        font-size: 15px;
    }
    .keySpecs{
        margin-bottom: 20px;
        margin-top: 0;
        margin-left: -9px;
    }
    .keySpecs h2{
        letter-spacing: 0;
    }
    .finOffer .editEMI .linkTag{
        margin-left: 8px;
    }
    }



